
.vs/config/applicationhost.config
.vs/jquery.timesetter/v15/.suo
website.publishproj
jquery-timesetter/{2E3BE6EF-E37D-426F-A4D5-BF77AA6CEF54}/WebProject.lastcodeanalysissucceeded
jquery-timesetter/{2E3BE6EF-E37D-426F-A4D5-BF77AA6CEF54}/CodeAnalysisLog.xml
